.navbar {
    background-color: #133561 !important;
    font-size: 18px !important;
    font-weight: 400;
}
.nav-link{
    color: #F5F5F5 !important;
    margin: 0px 20px !important;
}
.logout_button {
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #DC3545;
}
.nav_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_item_2{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .nav_item_1{
        display: none;
    }
    .nav_container{
        align-items: flex-start;
    }
    .nav_item_2 {
        flex-direction: column;
    }
}