.navbar {
    background-color: #133561 !important;
    font-size: 18px !important;
    font-weight: 400;
}
.nav-link{
    color: #F5F5F5 !important;
    margin: 0px 20px !important;
}
.logout_button {
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #DC3545;
}