* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif !important;
}

/* html{
    font-size: 14px;
}

div{
    font-size: calc(1.12 rem + 1vh);
}
h1{
    font-size: calc(1.12 rem + 1vh);
}
h2{
    font-size: calc(1.12 rem + 1vh);
}
input{
    font-size: calc(1.12 rem + 1vh);
}
p{
    font-size: 1.12rem;
    font-size: calc(1.12 rem + 1vh);
}
button{
    font-size: calc(1.23rem + 1vh);
} */