.client_login_container {
    display: flex;
    min-height: 96vh;
    /* margin-top: -10px; */
    /* padding: 2rem; */
}

.client_login_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0.5;
}

.client_login_image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
}

.client_login_image img {
    width: 60%;
    height: 70%;
}

.client_login_cover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* .advisor_login_column:last-child {
    margin-left: 1rem;
} */

.input_field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    height: 40px;
    background-color: #437fc7;
    color: #EDF6FF;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input_field{
    /* margin-top: 2.3rem; */
}

.input_field input {
    height: 40px;
    width: 100%;
    font-size: 1rem;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0.5px solid gray;
    border-bottom: .5px solid gray;
    border-right: .5px solid gray;
    border-left: none;
    color: #000000;
}

.client_login_button_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
}

.client_login_button_container button {
    background-color: #437fc7;
    border: none;
    color: #EDF6FF;
    padding: 6px 15px;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 5px;
}

.client_login_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.client_login_heading h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #6daffe;
    text-align: center;
}

.error {
    min-height: 12px;
    font-size: 12px;
    font-weight: 300;
    color: red;
}

.client_login_form_conatiner {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    padding: 2rem;
    /* height: 58%; */
}

@media screen and (max-width: 1000px) {
    .client_login_image img {
        width: 80%;
        height: 70%;
    }
}

@media screen and (max-width: 850px) {
    .client_login_image img {
        width: 100%;
        height: 50%;
    }

    .client_login_heading h2 {
        font-size: 1.8rem;
    }

    .input_field input {
        font-size: 0.8rem;
    }

    .client_login_button_container button {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 700px) {
    .client_login_container {
        flex-direction: column-reverse;
    }

    .client_login_content {
        flex: 1;
    }

    .client_login_image {
        flex: 1;
    }

    .client_login_image img {
        width: 60%;
        height: 60%;
    }
}

@media screen and (max-width: 450px) {
    .client_login_cover {
        flex-direction: column;
    }

    .client_login_column:last-child {
        margin-left: 0rem;
    }

    .client_login_heading h2 {
        font-size: 1.7rem;
    }

    .input_field input {
        font-size: 0.7rem;
    }

    .client_login_button_container button {
        font-size: 0.7rem;
    }
    .client_login_image img {
        width: 80%;
        height: 80%;
    }
}






/* .aregister_container {
    display: flex;
   min-height: 50vh;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
   
}


.aregister_form_container {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 10px;
}
.aregister_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.aregister_form_container h2 {
    font-size: 18px;
} */
/* .aregister_cover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

/* .input_field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
} */

/* .aregister_button_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
} */

/* .aregister_button_container button {
    background-color: #0D6EFD;
    border: none;
    color: #ffffff;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
} */

/* .input_field input {
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0.5px solid gray;
    border-bottom: .5px solid gray;
    border-right: .5px solid gray;
    border-left: none;
} */


/* .icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    height: 40px;
    background-color: #0D6EFD;
    color: #ffffff;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} */
/* .aregister_column:last-child {
    margin-left: 10px;
} */



/* @media (max-width:993px){
    .img-fluid{
        width: 25%;
        height: 35%;
      margin-bottom: -20%;
      
    }
} */