.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.column{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.clogin_main{
    width: 75% ;
    overflow: hidden; 
    border-radius: 30px; 
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px ;
    background-color: white;
    padding-top: 15px; 
    margin: 50px 120px 60px; 
}

.clogin_form_conatiner {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    padding: 70px;
    border-radius: 10px; 
}

.clogin_form_conatiner h2 {
    font-size: 1.5 rem;
}

.clogin_cover {
    display: flex;
    flex-direction: row;
    
}

.clogin_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.input_field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.clogin_button_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.clogin_button_container button {
    background-color: #0D6EFD;
    border: none;
    color: #ffffff;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}

.input_field input {
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0.5px solid gray;
    border-bottom: .5px solid gray;
    border-right: .5px solid gray;
    border-left: none;
}

.icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    height: 40px;
    background-color: #0D6EFD;
    color: #ffffff;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.forgotPassword_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.forgotPassword_container a {
    font-size: 16px;
    font-weight: 400;
}

.rememberme_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rememberme_container a {
    font-size: 16px;
    font-weight: 400;
}